.LastestGames {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
}

.latest-games-icon {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 4px;
}